<h1>this is my article show page</h1>

<p><strong>Title:</strong><br/><%= @article.title %></p>


<p><strong>Description:</strong><br/><%= @article.description %></p>


<%= link_to 'Edit article', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :Delete, data: {confirm: "Are you sure?"} %> |
<%= link_to 'Return list', articles_path %>
